{% extends "layout.twig" %}
{% block content %}

<div class="bk-default">

	{% include 'includes/header.twig' %}

	<div role="main">
		<div class="container">
			<div class="zone-content">
				{{zone('main')|raw}}
			</div>
		</div><!--end container-->
	</div><!--end main-->

	{% include 'includes/footer.twig' %}

</div>

{% endblock %}
