<!-- Footer Include !-->

<footer class="bk-footer">
	<div class="container">
		<div class="brand">
			{{widget('companyname', 'footercompanyname', {"business": "profile"})|raw}}
			{{widget('profile', 'copyright', { 'profileType':'copyright'})|raw}}
		</div>
		<div class="header-widgets">
			 {{widget('clicktocall', 'footerclicktocall', {phoneText: '212 6574 6736'})|raw}}
			 {{widget('content', 'footercontent', {content: '<p>Lorem Ipsum Dolor</p>', lines: 'all'})|raw}}
		</div>
	</div>
</footer>